[paths]
source = stockroom

[run]
branch = True
source =
    stockroom
    tests
parallel = True

[report]
exclude_lines =
    pragma: no cover
    pass
    def __repr__
    def _repr_pretty_
    def _ipython_key_completions_
show_missing = True
precision = 2
